.container{
  margin: 0;
  padding: 0;
  max-width: 100%;
}
.navbar-brand{
  margin: auto;
}
.row{
  padding-top: 2em;
  margin: auto;
}

.table{
  width: 50%;
  margin: auto;
}
.thead{
  text-align: center;
  font-size: large;
  position: relative;
  right: 8%;
}